body {
  padding: 0px;
  margin: 0px;
  background-color: #fff;

  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

div#header {
  padding: 1em;
  background-color: #48f;
  border: 2px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
}

#header p {
  margin-left: 1em;
}

#header a {
  text-decoration: none;
  color: #fff;
}

#header a:hover {
  text-decoration: none;
  color: #fff;
}

#header a:visited {
  text-decoration: none;
  color: #fff;
}

ul li .banner {
  display: inline-block;  
  vertical-align: middle; 
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

span.pre {
  font-family: Courier;
}

div#content {
  padding: 1em;
  width: 80%;
}

div.episode-title {
  background-color: #acf;
  padding: 0.5em;
  margin: 0.2em;
}

div.player {
  margin: 0.5em;
}

div.episode-content {
  margin: 0.5em;
  margin-left: 1em;
}

div#footer {
  padding: 0.25em;
  background-color: #48f;
  border: 2px;
  border-style: solid;
  border-color: #fff;
  font-size: 0.75em;
  color: #fff;
}
