:root {
  // DRAFT: https://www.w3.org/TR/css-color-adjust-1/
  color-scheme: light dark;
  --titlebar-color: #82afff;
  --episode-title-color: #fff;
  --link-color: #46acff;
  --link-visited-color: #f679f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --titlebar-color: #252525;
    --episode-title-color: #fff;
    --link-color: #3bf4fb;
    --link-visited-color: #ffb7ff;
  }
}

body {
  padding-top: 20px;
  max-width: 820px;
  margin: 0 auto;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

div#header {
  padding: 1em;
  padding-left: calc((100% - max(min(80%, 25cm), 10cm)) / 2);
  background-color: var(--titlebar-color);
  color: #fff;
}

#header p {
  margin-left: .5em;
}

#header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
}

ul li .banner {
  display: inline-block;  
  vertical-align: middle; 
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

span.pre {
  font-family: Courier;
}

div#content {
  padding: 1em;
  width: max(min(80%, 25cm), 5cm);
  position: relative;
  left: calc((100% - max(min(80%, 25cm), 5cm)) / 2);
}


div.episode-title {
  background-color: var(--titlebar-color);
  color: var(--episode-title-color);
  padding: 0.5em;
  margin: 0.2em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

div.episode-title a {
  color: #fff;
}


div.player {
  margin: 0.5em;
}

div.episode-content {
  margin: 0.5em;
  margin-left: 1em;
}

.episode-content a:link {
   color: var(--link-color)
}

.episode-content a:visited {
    color: var(--link-visited-color)
}


div#footer {
  padding: 0.25em;
  padding-left: calc((100% - max(min(80%, 25cm), 10cm)) / 2);
  background-color: var(--titlebar-color);
  border: 2px;
  border-style: solid;
  border-color: #fff;
  font-size: 0.75em;
  color: #fff;
}
